@model StatisticalQualityControl.Models.MistakeOccurenceFactorDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MistakeOccurenceFactorDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MistakeOccurrenceFactor.MistakeOccurenceFactorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MistakeOccurrenceFactor.MistakeOccurenceFactorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MistakeOccurenceFactorDetailName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MistakeOccurenceFactorDetailName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
