@model IEnumerable<StatisticalQualityControl.Models.MistakeOccurenceFactorDetail>

@{
    ViewBag.Title = "Hata Sebepleri Detay Listesi";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Hata Sebepleri Detay Listesi</h3>
                </div>
                <div class="col-md-6">
                    <p style="float:right">
                        @Html.ActionLink("Hata Sebeplerine Detay Ekle", "Create")
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table">
                    <tr>
                        <th>
                            Hata Sebepleri
                        </th>
                        <th>
                            Detay
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MistakeOccurrenceFactor.MistakeOccurenceFactorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MistakeOccurenceFactorDetailName)
                            </td>
                            <td>
                                @Html.ActionLink("Güncelle", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Sil", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>