@model IEnumerable<StatisticalQualityControl.Models.Staff>

@{
    ViewBag.Title = "Personel Listesi";
}

<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
        <div class="row x_title">
            <div class="col-md-6">
                <h3>Personel Listesi</h3>
            </div>
            <div class="col-md-6">
                <p style="float:right">
                    @Html.ActionLink("Yeni Personel Ekle", "Create")
                </p>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table">
                <tr>
                    <th>
                        Adı
                    </th>
                    <th>
                        Soyadı
                    </th>
                    <th>
                        Doğum Günü
                    </th>
                    <th>
                        İş Başlangıç Tarihi 
                    </th>
                    <th>
                        Maaş
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salary)
                        </td>
                        <td>
                            @Html.ActionLink("Güncelle", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Sil", "Delete", new { id = item.id })
                        </td>
                    </tr>
                }

            </table>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>